﻿<!DOCTYPE html>

<html lang="en" ng-app="timeApp">
<head>
    <meta charset="utf-8" />
    <title>Azra Time</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="res/azra_favicon.png" />

    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/bootstrap.paper.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-controllers.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="TimeCtrl">
    <div class="container">

        <h1 class="page-header" ng:attr-title="{{'Azra Time v' + version + ' by Joel Messerli & Joel Lang'}}">Azra Time<small class="pull-right" id="version">{{'v' + version}}</small></h1>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="input-group pull-left" id="input-add-time-group">
                    <label for="input-add-time" class="control-label">Add time</label>
                    <input id="input-add-time" type="text" class="form-control" ng-model="addTimeTime" ng-keyup="addTimeKeyup($event)" />
                </div>
                <div class="pull-right">
                    <button class="btn btn-danger btn-sm top-btn" ng-click="clearAll()" data-toggle="tooltip" data-placement="top" title="Clear all"><span class="glyphicon glyphicon-trash"></span></button>
                    <span class="top-btn" data-toggle="modal" data-target=".settings-modal"><button class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Settings"><span class="glyphicon glyphicon-cog"></span></button></span>
                    <button class="btn btn-primary btn-sm top-btn" data-toggle="tooltip" data-placement="top" title="Share" ng-click="share()"><span class="glyphicon glyphicon-share-alt"></span></button>
                </div>
            </div>
        </div>

        <div class="row">
            <ul class="list-group col-lg-6 col-md-6 col-sm-6 col-xs-12 has-col-padding">
                <li class="list-group-item time-item" ng-repeat="time in times">
                    <!-- repeat time in times -->
                    {{time}}
                    <span class="glyphicon glyphicon-remove pull-right deleteTime" aria-hidden="true" ng-click="deleteTime($index)"></span>
                </li>
            </ul>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="results-div">
                <div class="panel panel-primary" ng-repeat="obj in resultObjects">
                    <!-- repeat obj in resultObjects -->
                    <div class="panel-heading">
                        <h3 class="panel-title">{{obj.title}}</h3>
                    </div>
                    <div class="panel-body">
                        {{obj.body}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Bookmarklet (drag me): <a id="bookmarklet" class="btn btn-link">EG2Azra</a></p>
        </div>
    </footer>

    <div class="modal fade settings-modal" tabindex="-1" role="dialog" aria-labelledby="settings-modal-header">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="settings-modal-header">Settings</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group maxWidth">
                        <label class="control-label">Daily Time</label>
                        <input type="number" class="form-control" ng-model="settings.dailyTime" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
