﻿
#input-add-time-group {
    margin-bottom: 20px;
}

#version {
    position: relative;
    bottom: -19px;
}

.deleteTime {
    padding: 6px;
    position: relative;
    top: -1px;
}

    .deleteTime:hover {
        color: #ee2020;
        cursor: pointer;
        border-radius: 100%;
        background: #EEE;
    }

.maxWidth {
    width: 100% !important;
}

.time-item.ng-enter {
    transition: .2s linear all;
}

.time-item.ng-leave {
    transition: .1s linear all;
}

.time-item.ng-enter {
    height: 0;
    padding-left: 15px !important;
    padding-bottom: 0 !important;
    overflow: hidden;
}

    .time-item.ng-enter.ng-enter-active {
        height: 55px;
    }

.time-item.ng-leave {
    opacity: 1;
}

    .time-item.ng-leave.ng-leave-active {
        height: 0;
        padding: 0;
    }

.has-col-padding {
    padding-left: 15px;
}

.top-btn {
    position: relative;
    top: 36px;
}
